@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/Exo2SemiBold-OKY3.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.ttf');
    font-weight: 400;
}